{% extends 'admin/base.html.twig' %}


{% set menuItem = 'events' %}
{% block body %}

    <h1>Event {{ event.title }}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Date</th>
            <td>{{ event.date|date('D jS M Y') }}</td>
        </tr>
        <tr>
            <th class="">Meetup ID</th>
            <td>{{ event.meetupId|meetupEvent }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ event.description }}</td>
        </tr>
        {% if event.venue %}
            <tr>
                <th>Venue</th>
                <td><a href="{{ url('venueRead', {'venue': event.venue.id}) }}">{{ event.venue.name }}</a></td>
            </tr>
        {% endif %}
        {% if event.pub %}
            <tr>
                <th>Pub</th>
                <td><a href="{{ url('venueRead', {'venue': event.pub.id}) }}">{{ event.pub.name }}</a></td>
            </tr>
        {% endif %}

        {% if event.organisers.count > 0 %}
            <tr>
                <th>Organisers</th>
                <td>
                    {% for organiser in event.organisers %}
                        <a href="{{ url('personRead', { person: organiser.id}) }}">{{ organiser.name }}</a><br>
                    {% endfor %}
                </td>
            </tr>
        {% endif %}

        {% if event.sponsors.count > 0 %}
            <tr>
                <th>Sponsor</th>
                <td>
                    {% for sponsor in event.sponsors %}
                        <a href="{{ url('sponsorRead', { sponsor: sponsor.id}) }}">{{ sponsor.name }}</a><br>
                    {% endfor %}
                </td>
            </tr>
        {% endif %}

        </tbody>

    </table>

    <p>
        <a href="{{ url('eventUpdate', {'event' : event.id}) }}" class="btn btn-info" role="button">Edit</a>
        {% if event.canDelete %}
            <a href="{{ url('eventDelete', {'event' : event.id}) }}" class="btn btn-danger" role="button">Delete</a>
        {% endif %}
        <a href="{{ url('event', {'slug' : event.slug}) }}" class="btn btn-success" role="button">View on website</a>
    </p>

    Back to <a href="{{ url('eventList') }}">event list</a>.

    <hr>

    <h2>Talks</h2>

    {% if event.talks.count == 0 %}
        <p>No talks</p>
    {% else %}
        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Speaker(s)</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for talk in event.talks %}
                <tr>
                    <td><a href="{{ url('talkRead', {talk: talk.id}) }}">{{ talk.title }}</a></td>
                    <td>
                        {% for speaker in talk.speakers %}
                            <a href="{{ url('personRead', { person: speaker.id }) }}">{{ speaker.name }}</a><br>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ url('talkUpdate', {'talk' : talk.id}) }}" class="btn btn-info" role="button">Edit</a>
                        <a href="{{ url('talkDelete', {'talk' : talk.id}) }}" class="btn btn-danger" role="button">Delete</a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% endif %}

    <p>
        <a href="{{ url('talkCreate', {event: event.id}) }}" class="btn btn-info" type="button">Create talk</a>
    </p>
{% endblock %}
