{% extends 'admin/base.html.twig' %}


{% set menuItem = 'persons' %}
{% block body %}

    <h1>Person: {{ person.name }}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Type</th>
            <td>{{ person.type }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ person.description|nullToEmpty|markdown_to_html }}</td>
        </tr>
        <tr>
            <th>Full description</th>
            <td>{{ person.fullDescription|nullToEmpty|markdown_to_html }}</td>
        </tr>
        <tr>
            <th>Twitter handle</th>
            <td>{{ person.twitterHandle|twitter }}</td>
        </tr>
        <tr>
            <th>Github handle</th>
            <td>{{ person.githubHandle|github }}</td>
        </tr>
        <tr>
            <th>Website</th>
            <td>{{ person.websiteUrl|website}}</td>
        </tr>
        <tr>
            <th>MeetupId</th>
            <td>{{ person.meetupId|meetupMember}}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ person.email}}</td>
        </tr>
        <tr>
            <th>Mobile</th>
            <td>{{ person.mobileNumber}}</td>
        </tr>

        {% if person.talks.count > 0 %}
            <tr>
                <th>Talks</th>
                <td>
                    {% for talk in person.talks %}
                        <a href="{{ url('talkRead', {'talk' : talk.id }) }}">{{ talk.title }}</a><br>
                    {% endfor %}
                </td>
            </tr>
        {% endif %}

        {% if person.events.count > 0 %}
            <tr>
                <th>Events organised</th>
                <td>
                    {% for event in person.events %}
                        <a href="{{ url('eventRead', {'event' : event.id}) }}"> {{ event.title}}</a><br>
                    {% endfor %}
                </td>
            </tr>
        {% endif %}

        </tbody>

    </table>

    <p>
        <a href="{{ url('personUpdate', {'person' : person.id}) }}" class="btn btn-info" role="button">Edit</a>
        {% if person.canDelete %}
            <a href="{{ url('personDelete', {'person' : person.id}) }}" class="btn btn-danger" role="button">Delete</a>
        {% endif %}
        <a href="{{ url('speaker', {'slug' : person.slug}) }}" class="btn btn-success" role="button">View on website</a>
    </p>

    Back to <a href="{{ url('personList') }}">person list</a>.

{% endblock %}
