{% extends 'admin/base.html.twig' %}


{% set menuItem = 'events' %}
{% block body %}

    <h1>Talk: {{ talk.title }}</h1>

    <table class="table table-sm">
        <tbody>
        <tr>
            <th>Abstract</th>
            <td>{{ talk.abstract|nullToEmpty|markdown_to_html }}</td>
        </tr>
        <tr>
            <th>Event</th>
            <td><a href="{{ url('eventRead', {'event' : talk.event.id}) }}">{{ talk.event.title }}</a></td>
        </tr>
        <tr>
            <th>Slides</th>
            <td>{{ talk.slidesUrl }}</td>
        </tr>
        <tr>
            <th>JoindIn</th>
            <td>{{ talk.joindinUrl|joindin }}</td>
        </tr>

        <tr>
            <th>Video</th>
            <td>{{ talk.videoUrl }}</td>
        </tr>

        <tr>
            <th>Showcase</th>
            <td>{{ talk.showcase }}</td>
        </tr>

        <tr>
            <th>Speakers</th>
            <td>
                {% for speaker in talk.speakers %}
                    <a href="{{ url('personRead', { person: speaker.id }) }}">{{ speaker.name }}</a><br>
                {% endfor %}
            </td>
        </tr>

        </tbody>

    </table>

    <p>
        <a href="{{ url('talkUpdate', {'talk' : talk.id}) }}" class="btn btn-sm btn-info" role="button">Edit</a>
        <a href="{{ url('talkDelete', {'talk' : talk.id}) }}" class="btn btn-sm btn-danger" role="button">Delete</a>
        <a href="{{ url('talk', {'slug' : talk.slug}) }}" class="btn btn-sm btn-success" role="button">View on website</a>
    </p>

    Back to <a href="{{ url('eventRead', {'event' : talk.event.id}) }}">talk's event</a>.

{% endblock %}
